* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    color: #4B5049;
}

div.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #5A7574;
    display: flex;
    justify-content: space-around;

}

.search-container {
    border: none;
    margin-top: 25px;
    display: block;
    width: 79%;
    margin-left: 10%;
}

.sort-container {
    border: none;
    margin-top: 5px;
    display: block;
    width: 79%;
    margin-left: 10%;
}

.sort-container label {
    background-color: #DDE2DB;
    padding: 6.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    color: #5A7574;
    text-decoration: none;
    font-size: 15px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    outline: none;
    max-width: 20%;
}

.sort-container #sort {
    padding: 6px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 17px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    margin-left:-5px;
    width:80%;
    font-size: 15px;
    color: #4B5049;
}

.rSidebar input[type=text] {
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 17px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    max-width: 80%;
}

#address, #title, #accountBtn, #logOut, #logIn {
    color: white;
    padding-left: 20px;
    height: calc(100% - 40px);
    text-align: center;
}



#address {
    margin-top:7px;
    margin-left: 13px;
    text-align: left;
    border: none;
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
    outline: none;
    color: black;
}

#title {
    width: calc(60% - 40px)
}

.account-container {
    margin-right: 2.5%;
    width: 18%;
    max-width: 18%;
}

#accountBtn {
    margin-top:12px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 34px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
    background-color: #DDE2DB;
    border: 2px solid #5A7574;
    color: #5A7574;
    width: 55%;
}

#accountBtn:hover {
    background-color: #5A7574;
    color: #DDE2DB;
    border: 2px solid #DDE2DB;
}

#logOut,#logIn {
    float: right;
    margin-top:12px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 34px;
    padding-right: 22px;
    padding-left: 22px;
    text-decoration: none;
    font-size: 17px;
    background-color: #DDE2DB;
    border: 2px solid #5A7574;
    color: #5A7574;
    width: 40%;
}

#logOut:hover,#logIn:hover {
    background-color: #5A7574;
    color: #DDE2DB;
    border: 2px solid #DDE2DB;
}

#logIn {
    display: none;
}

.wrap-button {
    left: 3%;
    width: 17%;
    top: 110px;
    height: 40px;
    position: fixed;
}

#backButton {
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #5A7574;
    color: #5A7574;
    background-color: white;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
    outline: none;
}

#backButton:hover {
  background: #DDE2DB;
}

.rSidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

#category {
    text-align: center;
    margin:30px;
    margin-bottom: 10px;
}

.rSidebar hr {
    width: 40%;
    margin-bottom: 30px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DDE2DB;
    padding: 0;
}

.pill-nav .pill-active {
    background-color: #DDE2DB;
    color: #5A7574;
}

.pill-nav {
    background-color: #5A7574;
    position:fixed;
    border-radius: 12px;
    width: 17%;
    top: 180px;
    left: 3%;
    height: 75vh;
    overflow-y: auto;
}

.rSidebar a {
    display: block;
    padding: 20px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 17px;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.rSidebar a:hover {
    background-color: #DDE2DB;
    color:#4B5049;
}

.restaurantDisplayName {
    position: fixed;
    left: 20%;
    top: 80px;
    width: 60%;
    height: 70px;
}

h1 {
    padding-left: 5%;
    display: block;
}

h2 {
    color: #DDE2DB;
}

#dishSpace {
    position: fixed;
    left: 20%;
    top: 150px;
    width: 57%;
    height: calc(100% - 150px);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.orderBar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    height: calc(100vh - 80px);
}

#checkout {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 15%;
    width: 90%;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #5A7574;
    color: #5A7574;
    background-color: white;
}

#checkout:hover {
    background: #DDE2DB;
}

.pill-checkout {
    background-color: #5A7574;
    position:fixed;
    border-radius: 12px;
    width: 18%;
    top: 110px;
    right: 3%;
    height: 75%;
    overflow-y: auto;
}

#orderList {
    position: absolute;
    top: 90px;
    bottom: calc(40px);
    width: 100%;
    overflow-y: auto;
}

p {
    color: #DDE2DB;
}

.menuitem {
    display: block;
    background-color: #DDE2DB;
    margin-top: 2%;
    margin-bottom:3%;
    padding: 5%;
    border-radius: 100px;
    width: 90%;
}

.menuitem img {
    width: 100px;
    height: 100px;
    float: left;
}

.selectedOrderSection {
    color: black;
}

.orderSectionName {
    cursor: pointer;
    display: inline-block;
    margin-left: 10%;
    margin-right: 5%;
}

.orderListItemText {
    display: inline-block;
    margin-left: 10%;
}

#singleOrGroup {
    margin: 10%;
    margin-right:0;
    margin-top: 14%;
    display: inline-block;
    font-size: 30px;
}

button {
    background-color: #DDE2DB;
    border: 2px solid #5A7574;
    color: #5A7574;
    padding: 12px 24px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.1s;
    font-family: "Trebuchet MS", sans-serif;
    outline: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    background-color: #5A7574;
    color: #DDE2DB;
    border: 2px solid #DDE2DB;
}

.removeButton {
    padding: 12px 16px;
}

.removeItem {
    background-color: #5A7574;
    color: #aaa;
    font-size: 25px;
    font-weight: bold;
    border: none;
}

.removeItem:hover,
.removeItem:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: none;
}

#addPerson {
    float: right;
    font-size: 25px;
    padding: 12px 14px;
    border-radius: 12px;
    margin: 10%;
}

.rSidebar .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    cursor: pointer;
    margin-left:0px;
    margin-right: -5px;
    border: 2px solid #DDE2DB;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    max-width:20%;
}

.rSidebar .search-container button:hover {
    border: 2px solid #DDE2DB;
}


.addButton, .editDish {
    background-color: #5A7574;
    color: #DDE2DB;
    border: 2px solid #5A7574;
}

.addButton:hover, .editDish:hover {
    background-color: #DDE2DB;
    border: 2px solid #5A7574;
    color: #5A7574;
}

#dishSpace::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#dishSpace::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#dishSpace::-webkit-scrollbar-thumb {
  background: #5A7574;
}

/* Handle on hover */
#dishSpace::-webkit-scrollbar-thumb:hover {
  background: #4B5049;
}