* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    color: #4B5049;
}

#contacts {
    display: none;
}
#cards {
    display: none;
}
#addresses {
    display: none;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px 20px;
    width: 25%;
    border: 5px solid #f1f1f1;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #5A7574;
}

h1 {
    padding-left: 30%;
    display: block;
}

#restaurantPage h2, #menuPage h2, #checkoutPage .rSidebar h2 {
  color: #DDE2DB;
}

.checkoutSpace h2 {
    padding-left: 5%;
    display: inline-block;
}

.checkoutSpace h3 {
    padding-left: 5%;
}


#title {
    padding-left: 0;
    color: white;
    text-align: center;
}

#accountPage #title, #checkoutPage #title {
    margin-left: 36.70%;
    display: inline-block;
}

#restaurantPage #title, #menuPage #title {
  padding-left: 20px;
  height: calc(100% - 40px);
  width: calc(60%-40px);
}

.account-container {
  margin-right: 3%;
  width: 18%;
}

#accountPage .account-container, #checkoutPage .account-container {
    max-width: 18%;
    float: right;
    height: calc(100% - 40px);
}

#address, .navButton {
    color: white;
    padding-left: 20px;
    text-align: center;
    height: calc(100% - 40px);
}

.navButton {
    float: right;
    margin-top:12px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 34px;
    padding-right: 22px;
    padding-left: 22px;
    text-decoration: none;
    font-size: 17px;
    background-color: #DDE2DB;
    border: 2px solid #5A7574;
    color: #5A7574;
    width: 40%;
}

.navButton:hover {
    background-color: #5A7574;
    color: #DDE2DB;
    border: 2px solid #DDE2DB;
}

#accountPage .navButton {
    max-height: 100%;
}


.tab-content {
    padding: 20px;
    position: fixed;
    left: 20%;
    top: 80px;
    width: 80%;
    height: calc(100% - 80px);
    overflow-y: auto;
    
}

#account-profile-tab {
  margin-top: 10%;
}

.tab-pane {
    padding-left: 20%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    flex: 50%;
    padding-right: 8px;
}

.col-2 {
    flex: 50%;
    padding-left: 8px;
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  padding-right: 30px;
  border: 2px solid #5A7574;
  border-radius: 3px;
  font-family: "Trebuchet MS", sans-serif;
}

.modal input[type=text],.modal input[type=email],.modal input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 2px solid #5A7574;
  border-radius: 3px;
  font-family: "Trebuchet MS", sans-serif;
}

.rSidebar input[type=text] {
  padding: 6px;
  padding-right: 6px;
  padding-top: 7px;
  padding-bottom: 9px;
  border: none;
  text-decoration: none;
  font-size: 17px;
  border-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  outline: none;
  max-width: 80%;
}

label {
  margin-bottom: 10px;
  display: block;
  color: #5A7574;;
}

.sort-container label {
    background-color: #DDE2DB;
    padding: 6.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 15px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    outline: none;
    max-width: 20%;
    margin-bottom: 0px;
    display: inline-block;
}

.wrap-button {
    left: 3%;
    width: 17%;
    top: 110px;
    height: 40px;
    position: fixed;
}

.backButton {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #5A7574;
    color: #5A7574;
    background-color: white;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
    font-weight: bold;
}

#backButton:hover {
  background: #DDE2DB;
}

.rSidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

#accountPage .rSidebar {
    font-size: 0;
}

.rSidebar a {
    display: block;
    padding: 20px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 17px;
    color: white;
    width: 80%;
    margin-left: 10%;
}

#menuPage .rSidebar a {
  text-align: center;
}

.rSidebar a:hover {
    background-color: #DDE2DB;
    color:#4B5049;
}

.rCategory a {
    display: inline-block; 
    padding: 23px;
    margin-left: 6.5px;
    width: 30%;
    text-align: center;
    height: 15%;
}

.pill-nav .pill-active {
    background-color: #DDE2DB;
    color: #5A7574;
}

.pill-nav {
    background-color: #5A7574;
    position:fixed;
    border-radius: 12px;
    width: 17%;
    top: 180px;
    left: 3%;
    height: 75vh;
    overflow-y: auto;
}

#restaurantPage .pill-nav {
  top: 130px;
  height: 80.5vh;
  border-radius: 70px;
}

#btnPwd {
    padding: 12px 13px;
}

button {
    background-color: #DDE2DB;
    border: 2px solid #5A7574;
    color: #5A7574;
    padding: 12px 24px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.1s;
    font-family: "Trebuchet MS", sans-serif;
    outline: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    background-color: #5A7574;
    color: #DDE2DB;
    border: 2px solid #DDE2DB;
}

.rSidebar .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    cursor: pointer;
    margin-left:0px;
    margin-right: -5px;
    border: 2px solid #DDE2DB;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    max-width:20%;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tab-content::-webkit-scrollbar {
    display: none;
  }

#accountPage p {
    color: red;
}

#add-card-modal-checkout p {
    color: red;
}

#payError {
    color: red;
}


#loginPage h1 {
    text-align: center;
    display: block;
}

#loginPage p {
    color: red;
}

#loginPage .flex-container {
  justify-content: center;
}

#loginPage input[type=text], #loginPage input[type=email], #loginPage input[type=password] {
  margin-bottom: 10px;
  padding-right: 100px;
}

#loginPage label {
  margin-top: 10px;
}

#loginPage button {
  padding: 4px 24px;
  margin: 4px 0px;
  border-radius: 7px;
  width: 50%;
}

#loginPage .modal button {
  width: 30%;
  padding: 12px 24px;
}

.centered {
  overflow-y: auto;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 30%;
  left: 48%;
  margin-top: -50px;
  margin-left: -100px;
}

#restaurantPage .topBar,#menuPage .topBar {
  display: flex;
  justify-content: space-between;
}

#address {
    margin-top:7px;
    margin-left: 13px;
    text-align: left;
    border: none;
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
    outline: none;
    color: black;
}

#accountBtn {
    margin-top:12px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 34px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
    background-color: #DDE2DB;
    border: 2px solid #5A7574;
    color: #5A7574;
    width: 55%;
}

#accountBtn:hover {
    background-color: #5A7574;
    color: #DDE2DB;
    border: 2px solid #DDE2DB;
}

.search-container {
    border: none;
    margin-top: 40px;
    display: block;
    width: 79%;
    margin-left: 10%;
}

.sort-container {
    border: none;
    margin-top: 5px;
    display: block;
    width: 79%;
    margin-left: 10%;
}

.sort-container #sort {
    padding: 6px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 17px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    margin-left:-5px;
    width:80%;
    font-size: 15px;
    color: #4B5049;
}

#category {
    text-align: center;
    margin:30px;
    margin-bottom: 10px;
}

.rSidebar hr {
    width: 40%;
    margin-bottom: 30px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DDE2DB;
    padding: 0;
}

.rCategory {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 10px;
    height: 62%;
    overflow-y: auto;
}

#restaurantSpace {
    padding: 20px;
    position: fixed;
    left: 20%;
    top: 80px;
    width: 80%;
    height: calc(100% - 80px);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.restaurant {
    background-color: #DDE2DB;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    border-radius: 100px;
    height: 50%;
    width: 40%;
    border: 4px solid #DDE2DB;
    cursor: pointer;
}

.restaurant:hover {
    border: 4px solid #5A7574;
}

.restaurant img {
    width: 100px;
    height: 100px;
    float: left;
}

.addButton, .editDish {
    background-color: #5A7574;
    color: #DDE2DB;
    border: 2px solid #5A7574;
}

.addButton:hover, .editDish:hover {
    background-color: #DDE2DB;
    border: 2px solid #5A7574;
    color: #5A7574;
}

#restaurantSpace::-webkit-scrollbar {
  width: 15px;
}

/* Track */
#restaurantSpace::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#restaurantSpace::-webkit-scrollbar-thumb {
  background: #DDE2DB;
}

/* Handle on hover */
#restaurantSpace::-webkit-scrollbar-thumb:hover {
  background: #4B5049;
}

.restaurantDisplayName {
    position: fixed;
    left: 20%;
    top: 80px;
    width: 60%;
    height: 70px;
}

.restaurantDisplayName h1, .checkoutSpace h1 {
  padding-left: 5%;
}

#dishSpace {
    position: fixed;
    left: 20%;
    top: 150px;
    width: 57%;
    height: calc(100% - 150px);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.orderBar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    height: calc(100vh - 80px);
}

#checkout {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 15%;
    width: 90%;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #5A7574;
    color: #5A7574;
    background-color: white;
}

#checkout:hover {
    background: #DDE2DB;
}

.pill-checkout {
    background-color: #5A7574;
    position:fixed;
    border-radius: 12px;
    width: 18%;
    top: 110px;
    right: 3%;
    height: 75%;
    overflow-y: auto;
}

#orderList {
    position: absolute;
    top: 90px;
    bottom: calc(40px);
    width: 100%;
    overflow-y: auto;
}

#orderList .orderListItem {
    position: relative;
    left: 10%;
    width: 90%;
}

#menuPage p {
  color: #DDE2DB;
}

.menuitem {
    display: block;
    background-color: #DDE2DB;
    margin-top: 2%;
    margin-bottom:3%;
    padding: 5%;
    border-radius: 100px;
    width: 90%;
}

.menuitem img {
    width: 100px;
    height: 100px;
    float: left;
}

#menuPage .selectedOrderSection {
    color: black;
}

.orderSectionName {
    cursor: pointer;
    display: inline-block;
    margin-left: 10%;
    margin-right: 5%;
}

.orderListItemText {
    display: inline-block;
    margin-left: 10%;
}

#singleOrGroup {
    margin: 10%;
    margin-right:0;
    margin-top: 14%;
    display: inline-block;
    font-size: 30px;
}

.removeButton {
    padding: 12px 16px;
}

.removeItem {
    background-color: #5A7574;
    color: #aaa;
    font-size: 25px;
    font-weight: bold;
    border: none;
}

.removeItem:hover,
.removeItem:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: none;
}

#addPerson {
    float: right;
    font-size: 25px;
    padding: 12px 14px;
    border-radius: 12px;
    margin: 10%;
}

#dishSpace::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#dishSpace::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#dishSpace::-webkit-scrollbar-thumb {
  background: #5A7574;
}

/* Handle on hover */
#dishSpace::-webkit-scrollbar-thumb:hover {
  background: #4B5049;
}

.checkoutSpace {
    padding: 20px;
    position: fixed;
    left: 20%;
    top: 80px;
    width: 80%;
    height: calc(100% - 80px);
    overflow-y: auto;
    
}

.payment-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.payment-close:hover,
.payment-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.add-card-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.add-card-close:hover,
.add-card-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.select-container {
    border: none;
    margin-top: 5px;
    display: block;
    width: 79%;
    margin-left: 10%;
}

.select-container label {
    margin-bottom: 10px;
    display: block;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    color: #DDE2DB;
    font-size: 17px;
    max-width: 20%;
}

.select-container #selectAddress {
    padding: 6px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 17px;
    border-radius: 8px;
    outline: none;
    width:100%;
    font-size: 15px;
    color: #4B5049;
}

#checkoutPage .rSidebar p {
    margin-top: 20px;
    margin-left: 10%;
    font-size: 17px;
    color: #DDE2DB;
}

.note-container {
    border: none;
    margin-top: 5px;
    display: block;
    width: 79%;
    margin-left: 10%;
    height: 70%;
}

.note-container label {
    margin-bottom: 10px;
    display: block;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    color: #DDE2DB;
    font-size: 17px;
}

.note-container textarea {
    padding: 6px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
    outline: none;
    width: 100%;
    height: 70%;
}

#checkoutPage #delivery {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#placeOrder {
    margin-left: 5%;
}